body {
    background: black;
    text-align: center;
    box-sizing: border-box;
}
img {
    background-size:cover;
    background-repeat: repeat;
    position:fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    opacity: 30%;
}
.container-top{
    margin: 20px auto;
    width: 500px;
    height: 50px;
    background: transparent;
}

.container {
    margin: 0 auto;
    width: 500px;
    height: auto;
    min-height: 200px;
    background:white;
    box-shadow: rgb(175, 87, 87) 5px 10px;
    padding: 20px;
    flex: 1;
    border-radius: 45px;
    padding-right: 60px;
}

button.top {
    margin: 0 auto;
    height: 50px;
    width: 32%;
    border-radius: 30px;
    background: rgb(252, 252, 52);
    color:red;
    font-weight:bold;
    box-shadow: rgb(244, 232, 156) 1px 2px;
    transition: 0.5s all ease;
}
button.top:hover {
    background: lightblue;
    border: solid blue 3px;
    box-shadow: rgb(12, 207, 229) 1px 2px;
    transition: 0.5s all ease;
}
button.likeButton {
    background-image: url("https://i.pinimg.com/600x315/f7/48/5f/f7485fef8112437212417c3f98a7e7ca.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 3px 35px;
    height: 29px;
    width: 30px;
    font-size: 16px;
    display: inline;
    float: right;
    box-sizing: content-box;    
}
li {
    list-style: none;
    width: 400px;
    height: 30px;
    margin: 5px auto;
    background: rgb(187, 219, 230);
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 30px;
}
@keyframes standOut {
    50% {
        letter-spacing: 8px;
        text-shadow: rgb(218, 213, 213) 75px 20px;
        font-size: 30px;
    }
}
h2 {
    font-family: 'Stalinist One', cursive;
    color: red;
    text-shadow: rgb(38, 37, 37) 1px 2px;
    font-size: 25px;
    animation: standOut 1.5s ease;
}