* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(120, 161, 158);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h2 {    
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(224, 134, 134);
    /* background-color: black; */
    letter-spacing: 2px;
    width: 460px;
    border-radius: 60px 10px 60px 10px;
    margin-top: 10px;
}
@keyframes wave {
    0% {
        color: rgb(224, 57, 57);
    }
    25% {
        color: rgb(226, 12, 137);
    }
    50% {
        color: rgb(147, 9, 240);
    }
    75% {
        color: rgb(160, 41, 160);
    }
    100% {
        color: rgb(224, 57, 57);
    }
}
h1 {
    margin-top: 20px;
    font-size: 60px;
    color: rgb(224, 57, 57);
    animation: wave 10s infinite;
    transition: 0.5s ease all;
}
h2 {
    font-size: 40px;
    background-color: none;
    color: purple;
    font-style:italic;
}
#leadImage {
    height: 300px;
    border: dashed white 2px;
    border-radius: 20px;
}
.container {
    margin: 0 auto;
    max-width: 700px;
    min-width: 460px;
    width: 100%;
    padding: 0 20px 0 0;
    overflow: hidden;
} 

#animalList {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(6, 1fr);
    margin: 30px auto;
    box-sizing: border-box;
    border: transparent;
}
#animalList > li {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    list-style: none;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 4px 3px rgb(2, 2, 2);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: red;
    background-color: white;
}
.animalImg {
    grid-column: 3 / 4;
    height: 150px;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 4px 3px black;
    width: 100%;
    min-width: 150px;
}
.spanEle {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    border-left: groove grey 10px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-radius: 0 15px 18px 0;
    box-shadow: 4px 3px rgb(0, 0, 0);
    color: black;
    width: 100px;
    height: 100%;
    font-size: 20px;
}

li > .available {
    background-color: rgb(144, 228, 18);
}

li > .hold {
    background-color: rgb(228, 159, 30);
}

li > .adopted {
    background-color: rgb(255, 59, 59);
}

button {
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    height: 30%;
    width: 80%;
    padding: 5px;
    transform: 0.6s ease all;
}

button:hover {
    background-color: yellow;
    font-size: 15px;
    transition: 0.6s ease all;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    width: 100%;
}

.menu > button {    
    width: 150px;
    height: 50px;
    font-weight: bold;
    box-shadow: 4px 3px rgb(0, 0, 0);
}
.filter {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.filter > select {
    height: 30px;
    width: 130px;
    display: block;
}
.filter > button {
    width: 80px;
    margin: 0 10px;
}
